<h2>Listagem de Regiões</h2>
<button routerLink="/regioes/cadastro">Cadastrar Nova Região</button>
<button (click)="exportarParaExcel()">Exportar para Excel</button>
<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Cidades</th>
      <th>Status</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let regiao of regioes$ | async">
      <td>{{ regiao.nome }}</td>
      <td>
        <span *ngFor="let cidade of regiao.cidades">
          {{ obterCidadePorId(cidade.cidade)?.cidade }} ({{ obterCidadePorId(cidade.id)?.uf }})
        </span>
      </td>
      <td>{{ regiao.ativa ? 'Ativa' : 'Inativa' }}</td>
      <td>
        <button [routerLink]="'/regioes/editar/' + regiao.id">Editar</button>
        <button (click)="ativarOuDesativar(regiao.id)">
          {{ regiao.ativa ? 'Desativar' : 'Ativar' }}
        </button>
      </td>
    </tr>
  </tbody>
</table>