<h2>{{ editMode ? 'Editar Região' : 'Cadastrar Região' }}</h2>
<form [formGroup]="regiaoForm" (ngSubmit)="salvar()">
  <div>
    <label for="nome">Nome</label>
    <input id="nome" formControlName="nome" />
    <div *ngIf="regiaoForm.get('nome')?.invalid && regiaoForm.get('nome')?.touched">
      O nome é obrigatório.
    </div>
  </div>

  <div formArrayName="cidades">
    <h3>Cidades</h3>
    <div *ngFor="let cidade of cidades.controls; let i = index" [formGroupName]="i">
      <app-seletor-cidade [formControl]="getFormControl(cidade.get('id'))" ></app-seletor-cidade>
      <div *ngIf="cidade.get('cidade')?.invalid && cidade.get('cidade')?.touched">
        A cidade é obrigatória.
      </div>
      <button type="button" (click)="removerCidade(i)">Remover</button>
    </div>
  </div>

  <app-seletor-cidade (cidadeSelecionada)="cidadeSelecionada = $event" formControlName="adicionarCidade"></app-seletor-cidade>
  <div *ngIf="regiaoForm.get('cidades')?.value.length === 0">
    A cidade é obrigatória.
  </div>
  <button type="button" (click)="adicionarCidade()">Adicionar Cidade</button>

  <div>
    <button type="submit">{{ editMode ? 'Salvar Alterações' : 'Salvar' }}</button>
    <button type="button" (click)="cancelar()">Cancelar</button>
  </div>
</form>